<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h1>Articulos</h1>
        </div>
        <div class="card-body">
            {{#if articulos}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Código</th>
                        <th scope="col">Email</th>
                        <th scope="col">Código de barras</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articulos}}
                    <tr>
                        <th scope="row">{{nombrearticulo}}</th>
                        <td>{{descripcion}}</td>
                        <td>{{codigo}}</td>
                        <td>{{codigobarras}}</td>
                        <td>{{modifiedon}}</td>
                        <td><a href="/delete-articulo/{{@key}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Aún no hay artículos.</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="new-articulo" method="POST">
                <div class="form-group">
                    <input type="text" name="nombrearticulo" placeholder="Nombre artículo" class="form-control"
                        autofocus />
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" placeholder="Descripción" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="number" name="codigo" placeholder="Código" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="number" name="codigobarras" placeholder="Código barras" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="date" name="modifiedon" placeholder="Fecha modificación" class="form-control" />
                </div>
                <button class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    </div>
</div>